
*.flac

results/exp:first_imp_full_hf-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit_train-M:13/checkpoints/best-ep2-it3360

*.wav

results/exp:first_imp_full_hf-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit_train-M:13/checkpoints/ep2-it3360

results/exp:first_imp_full_hf-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit_train-M:13/log

results/exp:first_imp_full_hf-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit_train-M:13/loss.svg

results/exp:first_imp_full_hf-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit_train-M:13/stats.pkl

results/exp:last_training-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit/checkpoints/best-ep23-it38640

results/exp:last_training-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit/checkpoints/ep23-it38640

results/exp:last_training-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit/log

results/exp:last_training-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit/loss.svg

results/exp:last_training-frame_sizes:2,8,10-seq_len:6400-batch_size:16-dataset:timit/stats.pkl

__pycache__/model.cpython-37.pyc

__pycache__/utils.cpython-37.pyc

.vscode/settings.json

trainer/__pycache__/plugins.cpython-37.pyc
